@use './variables';

/* Mixin barra-info */

@mixin for-tablet {
    @media (max-width: 768px) {
        @content;
    }
}

.content-information {
    background-color: #092739;
    color: white;
    padding: 40px;

    .info-p {
        color: white;
        font-size: 2rem;
        text-align: left;
        font-family: 'Poppins', sans-serif;


        @include for-tablet {
            text-align: center;

            h3 {
                font-size: 2.5rem;
            }

            p {
                font-size: 1.5rem;
            }
        }


    }

    .section-button {
        display: flex;
        justify-content: center;

        .button {
            background-color: variables.$azul;
            color: white;
            font-size: 20px;
            padding: 25px;
            border-radius: 10px;
            border: none;
            transition: all 0.5s ease;

            @include for-tablet {
                background-color: rgb(35, 101, 255);
                color: white;
                font-size: 20px;
                padding: 15px;
            }

            &:hover {
                background-color: variables.$hover-azul;
            }

            a {
                text-decoration: none;
                color: white;

                &:hover {
                    color: white;
                }
            }
        }
    }
}


