/* Mixin footer */

@mixin for-tablet {
    @media (max-width: 768px) {
        @content;
    }
}


/* Footer */

footer {
    background-color: #212e36;
    color: white;

    .contenedor-footer-links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 40px 9% 0 9%;
        
        @include for-tablet {
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        } 

        .caja-footer-links {

            .titulo-seccion-footer-links {
                font-size: 22px;
                text-align: left;
                font-family: 'Poppins', sans-serif;
                font-weight: normal;
                padding-bottom: 20px;

                span {
                    color: rgb(35, 101, 255);
                }
            }

            .parrafo-seccion-footer-links {
                text-align: left;
                font-size: 16px;
                font-weight: 400;
                padding-bottom: 20px;
            }

            select {
                padding: 10px;
                border: none;
                border-radius: 5px;
                outline: none;
            }

        }

        .links-redes {
            text-align: right;

            a {
                text-decoration: none;
                color: white;
                font-weight: 500;
                padding-right: 10px;
                font-size: 16px;

                &:hover {
                    text-decoration: underline;
                }
            }

            .redes-sociales {

                li {
                    list-style: none;
                    padding-top: 20px;
                    padding-right: 10px;
                    color: white;
                    font-size: 20px;
                    display: inline-block;
                    justify-content: end;
                    cursor: pointer;
                }

            }

            .contacto {
                list-style: none;
                padding-top: 20px;
                padding-right: 10px;
                font-size: 14px;
            }

        }

        .caja-contenedor-footer {
            background-color: #212e36;
            grid-column: 1/3;

            @include for-tablet {
                grid-column: 1;
            }
    
            .footer-flex {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 40px 0;

                @include for-tablet {
                    flex-direction: column;
                    padding: 10px 0;
                }
            }
    
            .caja-footer {
    
                .titulo-footer {
                    font-size: 2rem;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 400;
                }
    
                .parrafo-footer {
                    font-size: 1.5rem;
                }
            }
    
        }

    }

    
}
