/* mixin extras */


@mixin for-tablet {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin for-phone {
    @media (max-width: 426px) {
        @content
    }
}

.container-section {
    display: grid;
    justify-content: center;

    .extras {
        padding: 0 11%;
        margin: 40px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @include for-tablet {
            grid-template-columns: repeat(2, 1fr);
        }

        @include for-phone {
            grid-template-columns: repeat(1, 1fr);
        }

        .cajas-extras {
            background-color: #212e36;
            color: white;
            border-radius: 0.5rem;
            border: .1rem solid rgba(0, 0, 0, .2);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .1);
            margin: 1.5rem 1rem;
            padding: 2rem 4rem;
            border-radius: .5rem;
            text-align: center;
            transition: all 0.5s ease;

            &:hover {
                border: 1px solid rgb(16, 88, 255);
            }

            &:hover img {
                transform: scale(1.1);
            }

            img {
                height: 10rem;
                transition: all 0.5s ease;
            }


        }

        .ext1 {
            grid-column: 1/2;
            grid-row: 1/3;
            display: grid;
            place-content: center;

            @include for-tablet {
                grid-column: 1;
                grid-row: 1;
                display: grid;
                place-content: center;
            }
        }
    }
}
